html,
*,
body {
  box-sizing: border-box;
}

/* NAVBAR STARTS */

.navbar.navbar-scroll {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-item {
  margin: 0 0.5rem;
}

.navbar .container-fluid .navbar-brand {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

.navbar ul .nav-item .nav-link.btn-primary {
  border-radius: 1.5rem;
  font-weight: 700;
  background-color: #5035ff;
  font-size: 0.8rem;
  transition: all ease-in-out 0.2s;
}

.navbar ul .nav-item .nav-link.btn-primary:hover {
  transform: scale(1.05);
}

.navbar ul .nav-item .nav-link.link {
  color: #2b2839;
  transition: all ease-in-out 0.2s;
  border-bottom: solid transparent 4px;
  box-sizing: border-box;
}

.navbar ul .nav-item .nav-link.link:hover {
  border-bottom-color: #2b2839;
  padding-top: 0;
}

@media (max-width: 650px) {
  #nav-gopro {
    display: none;
  }
}

@media (max-width: 490px) {
  #nav-signup {
    display: none;
  }
}

/* NAVBAR ENDS */

/* HEADER STARTS */

header {
  z-index: 4;
  position: relative;
  align-content: center;
  align-items: center;
  justify-items: end;
  text-align: right;
  padding-top: 100px;
  padding-left: 5%;
  padding-right: 10%;
  padding-bottom: 40px;
  min-height: 360px;
  display: grid;
}

.header-left-svg {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 46%;
  height: auto;
  max-width: 600px;
  display: none;
  color: hsla(26.5, 53%, 91.5%, 50%);
}

.header-right-svg {
  z-index: -1;
  position: absolute;
  height: auto;
  top: -50px;
  right: 0;
  min-width: 200px;
  width: 30%;
  max-width: 550px;
  color: hsla(139, 25.5%, 92.5%, 100%);
}

@media (min-width: 350px) {
  .header-left-svg {
    display: block;
  }
}

.head-title {
  font-size: 4.5rem;
  position: relative;
  font-weight: 700;
}

.header-img {
  display: none;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media (min-width: 1024px) {
  .header-img {
    display: block;
  }
}

/* HEADER ENDS */

/* HEADER BOTTOM STARTS */

#header-bottom {
  z-index: 10;
}

#header-bottom .head-line {
  border-left: solid hsl(28, 52%, 95%) 5px;
  padding-left: 1rem;
}

/* HEADER BOTTOM ENDS */

/* COURSE SECTIONS STARTS */

.card {
  height: 16rem;
}

.card-body h6 {
  font-size: 0.7rem;
}

.card.course-card {
  cursor: pointer;
  overflow: hidden;
}

.card.course-card svg {
  transform: translate3d(-50%, -50%, 40px) scale(1) rotate(-17deg) scaleY(0.89);
  opacity: 0.25;
  transition: all 0.2s ease-in-out;
}

.card.course-card:hover svg {
  transform: translate3d(-50%, -50%, 40px) scale(1.5) rotate(-17deg)
    scaleY(0.89);
}

.card.course-card .card-img-top {
  height: 8.5rem;
  background-color: #fffbd6;
}

.card.course-card .card-body-top {
  transition: all 0.2s ease-in-out;
}

.card.course-card:hover .card-body-top {
  margin-top: -10px;
}

.btn.btn-outline-dark:hover {
  color: black;
}

/* COURSE SECTIONS ENDS */

/* FROM FOUNDERS STARTS */

#from-founders-section .founders-content .contents .text,
#about-platform-section .right-section .text {
  z-index: 10;
  position: relative;
}

#img-founders {
  width: 300px;
  transform: rotate(3deg);
  border-radius: 10px;
  border: 4px solid hsla(0, 0%, 100%, 100%);
}

h2.text-founders {
  position: absolute;
  bottom: -18px;
  left: 12%;
  font-size: 30px;
  font-weight: bolder;
  text-shadow: 3px 1px 0 #fff;
}

/* FROM FOUNDERS ENDS */

/* FOOTER STARTS */

footer img.img-logo {
  width: 10rem;
}

footer a {
  text-decoration: none;
}

@media (max-width: 770px) {
  footer a {
    display: flex;
    float: left;
    margin-right: 1rem;
  }
  footer div a {
    margin-bottom: 1rem;
  }
}

/* FOOTER ENDS */
